.thumbnail{
  width: 100%;
}
.video-title{
  margin-top: 0;
  line-height: 20px;
  margin-bottom: 10px;
}
.img-1b{
  clip-path:circle();
  padding-top: 20px; 
}
.video-info{
 padding-left: 8px;
 font-weight: bold;
}
.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}
.video-author,.video-stats{
  color: rgb(96, 96, 96);
  font-size: 14px;
  line-height: 25px;
}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
@media (max-width: 850px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  } 
}
@media (min-width: 751px) and (max-width: 999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr; 
} 
}
@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.video-time{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 7px;
}
